<% unless train.wagons.empty? %>
  <table>
    <thead>
    <tr>
      <th>Wagon type</th>
      <th>Number</th>
      <th>Top seats</th>
      <th>Bottom seats</th>
    </tr>
    </thead>

    <tbody>
    <% wagons_info = train.wagons_data %>
    <% Wagon.wagon_types.each do |wagon_type| %>
      <tr>
        <td><%= wagon_type %></td>
        <td><%= wagons_info[wagon_type][:quantity] %></td>
        <td><%= wagons_info[wagon_type][:top_seats] %></td>
        <td><%= wagons_info[wagon_type][:bottom_seats] %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  Train has no wagons
<% end %>
