<% unless train.wagons.empty? %>
  <table>
    <thead>
    <tr>
      <th>Wagon type</th>
      <th>Number</th>
    </tr>
    </thead>

    <tbody>
    <% train.wagons.ordered_wagons(train.wagons_order).each do |wagon| %>
      <tr>
        <td><%= wagon.class.name %></td>
        <td><%= link_to wagon.number, wagon_path(wagon) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% else %>
  Train has no wagons
<% end %>
