<p id="notice"><%= notice %></p>

<h1>Wagons</h1>

<table>
  <thead>
    <tr>
      <th>Train</th>
      <th>Number</th>
      <th>Type</th>
      <th>Seats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wagons.each do |wagon| %>
    <%= render 'wagon', wagon: wagon %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create wagon', new_train_wagon_path %>